body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 200px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.language-container {
  display: flex;
  justify-content: center;
}

.language {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.flag {
  width: 80px;
  margin-bottom: 10px;
}

span {
  font-size: 16px;
  text-align: center;
}
